
.deck2{
  padding-right: 50px;
  padding-left:150px ;
  padding-top:70px;
  
}

.deck{
  
  width:200px;
  padding-right:0px;
  padding-left: 0px;
  height:650px;
  
}

.split {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 52px;
}

.nm{
  position: fixed;
  width:100%;
  z-index: 1;
}
.kl{
  padding-left: 600px;
}
.bn{
  padding-top: 70px;
}

.deck3{
  padding-right:-50px;
  padding-left:50px ;
  padding-top:30px;
  width:100%;
  height:140px;
  
}
.gh{
  padding-top: 100px;
}
.btm{
  width: 100%;
  height: 400px;
  padding-top: 10000px;
}